@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --font-family: "Noto Sans", sans-serif;
  --background-color: rgb(245, 199, 167);
  --complementary-color: rgb(251, 225, 201); /*boxes/elements*/
  --primary-color: rgb(34, 26, 14); /*text*/
  --secondary-color: rgb(49, 35, 6); /*subtext*/
  --off-color: rgb(242, 166, 108); /*accent-color(button)*/
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  --border: 1px solid rgba(255, 255, 255, 0.02);
  --border-radius: 10px;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
}

h3 {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: bold;
}

p {
  color: var(--primary-color);
  font-family: var(--font-family);
}

.box {
  background-color: var(--complementary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: var(--border);
}

/* TODO Find a better solution for margin -10*/

#hero {
  margin: -8rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--complementary-color);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
}

button {
  color: var(--primary-color);
  background-color: var(--off-color);
}

label {
  color: var(--secondary-color);
}

.location-box {
  display: flex;
  background-color: var(--complementary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  justify-content: center;
}

.pagination-outer {
  text-align: center;
}
.pagination {
  background: #ffffff00;
  font-family: "Noto Sans", sans-serif;
  padding: 20px 30px;
  display: inline-flex;
  position: relative;
  list-style: none;
  white-space: nowrap;
}

.pagination li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 5px; /* Adjust the spacing between items */
}

.pagination li a.page-link {
  color: var(--primary-color);
  background-color: var(--complementary-color);
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  height: 45px;
  width: 45px;
  padding: 0;
  margin: 0 12px 0 0;
  border: none;
  border-radius: 0;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover {
  color: var(--secondary-color);
  border: none;
}
.pagination li:first-child a.page-link {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a.page-link {
  margin-right: 0;
  border-radius: 0 40px 40px 0;
}
.pagination li a.page-link:before {
  content: "";
  background-color: var(--off-color);
  height: 0;
  width: 100%;
  filter: blur(10px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s;
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:hover:before {
  height: 100%;
  filter: blur(0);
}
@media only screen and (max-width: 767px) {
  .pagination {
    padding: 10px;
    margin: 0;
    border-radius: 30px;
    display: block;
  }
  .pagination li {
    display: inline-block;
    margin: 0 0 5px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ################################# SPINNER ################################# */
#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50);
}

/*---------DASHBOARD--------*/
#dashboard-grid {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  width: 90vw;
  height: 90vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one two three"
    "four five three";
}

.dashboard-item {
  border-radius: var(--border-radius);
  padding: 5px 0 0 15px;
  cursor: pointer;
  border: 1px solid green;
  min-height: 300px;
  overflow: hidden;
}

@media (max-width: 1500px) {
  #dashboard-grid {
    width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "one two"
      "four three"
      "four three"
      "five five";
  }
}
@media (max-width: 1200px) {
  #dashboard-grid {
    max-width: 900px;
    width: auto;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
}

#myChart {
  width: 100%;
  max-width: 650px;
}
#donut-inner-text {
  font-size: 50px;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 5000;
  margin: -55% 0 0 35%;
}
#task-box {
  grid-area: one;
  position: relative;
}

#cleaning-box {
  grid-area: two;
}
#overview-box {
  grid-area: three;
}
#personel-box {
  grid-area: four;
}
#owner-box {
  grid-area: five;
}

.dashboard-data-list {
  width: 90%;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--complementary-color);
  margin-bottom: 15px;
}

.dashboard-data-list:first-child {
  margin-top: 30px;
}
.dashboard-data-list h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* GRIIIIIID */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
}

.box {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(6) {
  grid-column: span 3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }

  .box:nth-child(1),
  .box:nth-child(5),
  .box:nth-child(6) {
    grid-column: span 1; /* Revert span to 1 column for smaller screens */
  }
}
/* ============CLEANING=============*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cleanplan-box {
  float: left;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  margin: 0 20px 20px 0px;
  overflow-wrap: break-word;
}
#switch-button-text {
  font-weight: 700;
}
#cleanplan-modal-flexbox {
  display: flex;
}
#cleanplan-modal-flexbox select {
  overflow-y: auto;
  width: 100%;
}
#cleanplan-modal-flexbox button {
  display: block;
}

.cleanplan-column {
  width: 300px;
  height: 500px;
  border: 1px solid black;
}

/* CSS */
.button {
  padding: 12px 26px;
  color: var(--off-color);
  border: 0;
  transition: all 150ms ease-in-out;
  font-family: var(--font-family);
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 0 inset;
  background-color: var(--primary-color);
  background-image: linear-gradient(
    180deg,
    rgba(206, 211, 234, 0.07) 0%,
    transparent 100%
  );
}

.button:hover {
  filter: brightness(2.1);
}

.button:active {
  transform: scale(0.95);
}

/* MAINTENANCE */
.card img {
  object-fit: cover;
  height: 200px;
}

.card {
  margin: 2rem;
  max-width: 15rem;
  min-width: 15rem;
}

#maintenance-tasks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
